@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html
{
    background-color: #fff2ea;
}

.body
{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

h1
{
    font-family: "Lora", serif;
    font-weight: 100;
}

h2
{
    font-family: "Lora", serif;
    font-weight: 100;
}

p
{
    font-family: "Roboto Mono", sans-serif;
}

li
{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: white;

    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    border: 1px solid #bfb8b8;

    margin-bottom: 2rem;
}

li a
{
    text-decoration: none;
    font-family: "Lora", serif;
    font-size: 2.2rem;
    color: black;
}

a:hover
{
    text-decoration: underline;
}

.lenker
{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal
{
    display: none;
    position: fixed;
    z-index: 2;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;

    left: 0;
    top: 10vh;
}

textarea
{
    padding: 1rem;
    width: 80%;
    border: 2px solid #ccc;
    resize: none;
}