@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html
{
    background-color: black;
    color: white;
}

.profile
{
    display: flex;
    align-items: end;
    gap: 1rem;
}

h1
{
    font-family: "Numans", sans-serif;
    font-size: 2rem;
    display: inline;
}

.bio
{
    text-align: center;
    margin-top: 30vh;
}

p
{
    font-family: "Courier Prime", sans-serif;
    font-size: 1.8rem;
}

.social
{
    text-align: center;
    margin-top: 30vh;
    font-size: 2.5rem;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}