<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/skins/skin2.css">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <div>
            <p class="emoji">👋</p>
            <h1> Hei, Mitt Navn Er </h1>
    
            <p>
                Jeg er Jeg er Jeg er Jeg er <br>
                Jeg er Jeg er Jeg er Jeg er <br>
                Jeg er Jeg er Jeg er Jeg er <br>
            </p>
    
            <ul>
                <li>
                    <a href="/lenke"> Lenke tekst </a>
                </li>
                <li>
                    <a href="/lenke"> Lenke tekst </a>
                </li>
                <li>
                    <a href="/lenke"> Lenke tekst </a>
                </li>
            </ul>
    
            <div class="social">
                <a href="/social"> 🌐 </a>
                <a href="/social"> 🌐 </a>
                <a href="/social"> 🌐 </a>
                <a href="/social"> 🌐 </a>
            </div>
        </div>
        
        <img width="600" height="400" src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fimage.lexica.art%2Ffull_jpg%2Fa6c473a6-51e3-4679-88bd-31efa77a3599&sp=1746617955T6be6fe8dd94064ef2ed589568e53f2022f6b237b8234735819c7385fb894bc91" alt="">
    </div>
</body>
</html>