<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/skins/skin2.css">
    <title> {{.Room.Name}} </title>
</head>
<body>
    {{if .Admin}}
        {{template "admin" .}}
    {{end}}

    <div class="body">
        <div>
            <p class="emoji">👋</p>
            <h1> Hei, jeg heter {{.Room.Name}} </h1>
    
            <p>
                {{.Room.Body}}
            </p>
    
            <ul>
                {{range .Links}}
                    <li>
                        <img width="30px" height="30px" src="{{.Link}}" class="favicon">
                        <a target="_blank" href="{{.Link}}"> {{.Title}} </a>
                    </li>
                {{end}}
            </ul>
        </div>
        
        <img width="600" height="400" src="data:image/png;base64,{{.Image}}" alt="">
    </div>
</body>
<script src="/static/script/favicons.js"> </script>
</html>