<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/skins/skin3.css">
    <title> {{.Room.Name}} </title>
</head>
<body>
    {{if .Admin}}
        {{template "admin" .}}
    {{end}}

    <div class="profile">
        <img width="100px" height="100px" src="data:image/png;base64,{{.Image}}" alt="">
        <h1> {{.Room.Name}} </h1>
    </div>

    <div class="bio">
        <p> 
            {{.Room.Body}}
        </p>
    </div>

    <div class="social">
        {{range .Links}}
            <a target="_blank" href="{{.Link}}"> <img width="30px" height="30px" src="{{.Link}}" class="favicon"> </a>
        {{end}}
    </div>
</body>
<script src="/static/script/favicons.js"> </script>
</html>