<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/skins/skin1.css">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <div>
            <img width="60%" src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fimg.freepik.com%2Fpremium-vector%2Fvector-summer-mountains-landscape-flat-style-flat-hills-mountain-woods-vector-illustration_646079-2264.jpg&sp=1746620767T751a88f5efd43cadccaf29a76d25297ff1794b7d34eb5b5058009b576116ee8f" alt="">
            <h1> Mitt Navn Er </h1>

            <p> Din avsnittstekst <br>
                Din avsnitt <br>
                Din avsnittstekst <br>
                Din avsnitt <br>
                Din avsnittstekst <br>
                Din avsnitt <br>
                Din avsnittstekst <br>
                Din avsnitt <br>
            </p>
        </div>

        <div class="lenker">
            <h2> Mine lenker </h2>

            <ul>
                <li>
                    <img width="30px" height="30px" src="" alt="">
                    <a href="/lenke"> Lenke tekst </a>
                </li>
                <li>
                    <img width="30px" height="30px" src="" alt="">
                    <a href="/lenke"> Lenke tekst </a>
                </li>
                <li>
                    <img width="30px" height="30px" src="" alt="">
                    <a href="/lenke"> Lenke tekst </a>
                </li>
                <li>
                    <img width="30px" height="30px" src="" alt="">
                    <a href="/lenke"> Lenke tekst </a>
                </li>
            </ul>
        </div>

    </div>
</body>
</html>