<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/skins/skin1.css">
    <title>{{.Room.Name}}</title>
</head>
<body>
    {{if .Admin}}
        {{template "admin" .}}
    {{end}}

    <div class="body">
        <div>
            <img style="max-width: 500px;" src="data:image/png;base64,{{.Image}}" alt="">
            <h1> {{.Room.Name}} </h1>

            <p> {{.Room.Body}} </p>
        </div>

        <div class="lenker">
            <h2> Mine lenker </h2>

            <ul>
                {{range .Links}}
                    <li>
                        <img width="30px" height="30px" src="{{.Link}}" class="favicon">
                        <a href="{{.Link}}" target="_blank"> {{.Title}} </a>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
</body>
<script src="/static/script/favicons.js"> </script>
</html>