<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1> Min Lenke </h1>

        <div>
            <ul>
                <li>
                    <a href="/stiler"> Stiler </a>
                </li>

                <li>
                    <a href="/eksempler"> Eksempler </a>                    
                </li>

                <li>
                    <a href="/om"> Om </a>
                </li>
            </ul>

            {{if .}}
                <details style="display: inline;">
                    <summary style="display: inline;color: blanchedalmond;"> {{.}} </summary>
                    
                    <form action="/loggut" method="post">
                        <input class="csrf_token" type="hidden" name="csrf_token">
                        <button> Logout </button>
                    </form>
                </details>
            {{else}}
                <a class="logginn" href="/logginn"> Logg Inn </a>
            {{end}}
        </div>
    </nav>

    <div class="body">
        <h3> Vis hvem du er <br> Din digitale identitet <br> Samlet på et sted </h3>
        <img width="30%" src="/static/images/logo.png" alt="">    
    </div>

    <div class="regbox">
        {{if .}}
            <a class="register" href="/registrer"> Gå til din side </a>
        {{else}}
            <a class="register" href="/registrer"> Lag din side nå </a>
        {{end}}
    </div>

</body>

<script>
    function getCookie(name) {
		const value = `; ${document.cookie}`;
		const parts = value.split(`; ${name}=`);

		if (parts.length === 2)
		  return parts.pop().split(";").shift();
	}

    document.addEventListener("DOMContentLoaded", function () {
		const csrfToken = getCookie("csrf_token");

		if (csrfToken) {
			let csrfElements = document.getElementsByClassName("csrf_token")

			for (let i = 0; i < csrfElements.length; i++) {
				csrfElements[i].value = csrfToken
			}
	  	}
	});
</script>
</html>