<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1> Min Lenke </h1>

        <div>
            <ul>
                <li>
                    <a href="/stiler"> Stiler </a>
                </li>

                <li>
                    <a href="/eksempler"> Eksempler </a>                    
                </li>

                <li>
                    <a href="/om"> Om </a>
                </li>
            </ul>

            <a class="logginn" href="/logginn"> Logg Inn </a>
        </div>
    </nav>

    <div class="body">
        <h3> Vis hvem du er <br> Din digitale identitet <br> Samlet på et sted </h3>
        <img width="30%" src="/static/images/logo.png" alt="">    
    </div>

    <div class="regbox">
        <a class="register" href="/registrer"> Lag din side nå </a>
    </div>

</body>
</html>