<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/skin3.css">
    <title>Document</title>
</head>
<body>
    <div class="profile">
        <img width="100px" height="100px" src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F10%2F05%2F22%2F37%2Fblank-profile-picture-973460_1280.png&sp=1746621531Tac26aa949415bd821303c8d81c03d284d4ed511805ce93e077bb43ecc047ff19" alt="">
        <h1> Mitt Navn </h1>
    </div>

    <div class="bio">
        <p> 
            jeg er jeg er jeg er jeg er jeg er jeg <br>
            er jeg er jeg er jeg er jeg er jeg er <br>
            jeg er jeg er jeg er jeg er jeg er 
        </p>
    </div>

    <div class="social">
        <a href="/social"> 🌐 </a>
        <a href="/social"> 🌐 </a>
        <a href="/social"> 🌐 </a>
        <a href="/social"> 🌐 </a>
    </div>
</body>
</html>